<div class="container">
    <div class="row text-center" id="text_question">
        <h1>{{content}}</h1>
    </div>
    <div class="row text-center" id="text_vote">
        <h3>{{totalanswer}} vote</h3>
    </div>
    <div class="row">
        <div id="question_result" class="col-xs-12 question_result" style="display : block">
            <div class="result_bar">
                <div id="question_result_no" class="question_result_no" style="width: {{percentNo}}%;">
                    {{percentNo}}%
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>
                <div id="question_result_yes" class="question_result_yes" style="width: {{percentYes}}%;">
                    {{percentYes}}%
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a href="/" class="btn btn-success btn-lg btn_xemcauhoikhac">Xem câu hỏi khác</a>
    </div>
</div>